@model HealthyLife.Areas.Admin.Models.DiseaseViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    string action = ViewBag.Action;
}
<div class="forms-container">
    @using (Html.BeginForm(action, "Disease", FormMethod.Post, new { @class="content" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.HiddenFor(m => m.Id)
            @Html.ValidationSummary()
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label>
                        @Html.ResourceString(Constants.Disease.Name)
                        @Html.EditorFor(m => m.Name)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label>
                        @Html.ResourceString(Constants.Disease.Description)
                        @Html.EditorFor(m => m.Description)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 right">
                    <input type="submit" value="Зберегти" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>