@model HealthyLife.Areas.Admin.Models.DoctorViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="forms-container">
    @using (Html.BeginForm("Edit", "Doctor", FormMethod.Post, new { @class="content" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.AccountId)
            @Html.ValidationSummary()
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label>
                        @Html.ResourceString(Constants.Doctor.Department)
                        @Html.DropDownListFor(m => m.DepartmentId, Model.Departments)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label>
                        @Html.ResourceString(Constants.Doctor.Specialization)
                        @Html.DropDownListFor(m => m.SpecializationId, Model.Specializations)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label>
                        @Html.ResourceString(Constants.Doctor.Schedule)
                        @Html.DropDownListFor(m => m.ScheduleId, Model.Schedules)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 right">
                    <input type="submit" value="Зберегти" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>