@model IEnumerable<HealthyLife.Areas.Admin.Models.AddressViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@if (Model != null)
{
    <table class="responsive-table highlight centered">
        <thead>
            <tr>
                <th>@Html.ResourceString(Constants.Address.Country)</th>
                <th>@Html.ResourceString(Constants.Address.City)</th>
                <th>@Html.ResourceString(Constants.Address.TelNumber)</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Country</td>
                <td>@item.City</td>
                <td>@item.TelNumber</td>
                <td>@Html.RouteLink(Constants.Main.Edit, "Admin_AddressEdit", new {id = item.Id}, new { @class="btn blue" })</td>
                <td>@Html.RouteLink(Constants.Main.Delete, "Admin_AddressDelete", new {id = item.Id}, new { @class="btn red" })</td>
            </tr>
        }
        </tbody>
    </table> 
}